<div class="container">
	<div class="row">
		<div class="col-md-12 py-4">
			<h1 class="display-4 text-center py-4">About The Traveler</h1>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4 order-md-2">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6 order-md-1">
			<h3>Who I Am?</h3>
			<p class="text-justify">My name is <span style="font-size: 1.23rem; font-weight: 800;">Ankit Kumar</span> and I am a <span style="font-size: 1.23rem; font-weight: 800;">Peripatetic</span>. To the outside world I am a Software Engineer but secretley with my friends and famaily I set out on the road to explore the world.</p>
			<p class="text-justify">I've been traveling since my childhood, but the urge to travel and explore the world began in me in my college days. I had lived in Udhampur, a really beautifull town in the state of Jammu and Kashmir, during my early teenage. It was at that time when I fell into love with those mountains and that cool breeze that would abut my ears. And in my college days when I went on a <%= link_to 'a trip to McLeodGanj', 'http://www.kumarsjournal.com/posts/mcleod-ganj-an-exposure-to-tibetian-culture-in-india', class: 'link' %>, I decided that I will never leave travelling.</p>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6">
			<h3>What I Like</h3>
			<p>As you may have noticed from my intro line, I am a fan of the Flash. In fact not only the Flash but I like every superhero movie. My all time favorite being The Amazing Spiderman and The Avengers series, with The Flash TV Series on the CW. Apart form this, I belive in indulging in every new thing that might seem attractive and adventurous to me, just like a foolhardy.</p>
			<p>Here's a small list of things I like:</p>
			<ul class="list-group">
				<li class="list-group-item border-none">Basketball</li>
				<li class="list-group-item border-none">Guitar</li>
				<li class="list-group-item border-none">Cooking</li>
				<li class="list-group-item border-none">Riding Bikes</li>
				<li class="list-group-item border-none">Watching Telivision</li>
				<li class="list-group-item border-none">And obviously... Traveling</li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4 order-md-2">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6 order-md-1">
			<h3>Why This Blog??</h3>
			<p>Yes, this is exactly what I was telling you. I like to try out new things evry now and then. So I used to travel a lot of places, and whenever I travel, I get a lots of thoughts in my mind which I decided to share with you all. Plus everytime I used to travel, I would go on spending extra than what was needed to.</p>
		</div>
	</div>
</div>