<div class="container">
	<div class="row">
		<div class="col-md-12 py-4">
			<h1 class="display-4 text-center py-4">About The Traveler</h1>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4 order-md-2">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6 order-md-1">
			<h3>Who I Am?</h3>
			<p class="text-justify">Hi! My name is <span style="font-size: 1.23rem; font-weight: 800;">Ankit Kumar</span>. At present I live in Pune working for a big Indian IT company. However I was born in a town famous for Jumkas. Yes, you guessed it right - Bareilly. My dad being a defence personnel I have been shifting places since my childhood. Changing schools every 3-4 years gave me a whole long list of friends. I had never accustomed to a specific environment. This practice have made me open to accept change in surrounding, climate and traveling for days. This is where my inquisition lit up to explore even more.</p>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6">
			<h3>My College</h3>
			<p>After I took admission in college, I started to travel alone. My college life has taught me a lot of things. It was this time that gave me few of my best friends. The friends which you know are going to be with you for your whole life. It was these two crazy guys with whom i started my journey of exploiting the world around us. It all started with a short road trip to Bhakra Nangal Dam in Una, Himachal Pradesh. In the chhiling and foggy winters of December, with almost zero visibility, there were four of us on 2 bikes. We had no idea where we were headed to. We were just enjoying what came in our way and continued till we reached the Dam. Although the visiting hours for the Dam were over and unfortunately we were not able to see it, but it was a hell lot of experience. And after that I never stopped myself from being part of any such unanticipated plan.</p>
		</div>
	</div>
	<div class="row justify-content-around my-4">
		<div class="col-md-4 order-md-2">
			<img src="https://www.dropbox.com/s/8gdo3pkfsqhdem0/intro.JPG?raw=1" alt="my photo" class="img-thumbnail">
		</div>
		<div class="col-md-6 order-md-1">
			<h3>The Memorable One!!</h3>
			<p>Another such escapade happened in early Nov 2016 when the country was striving for bank notes, I and my friend were, instead, chilling in a hot water tub adoring the nature surrounding us. Yes, we were exploring Kasol, Manikaran and trekking to Khirganga.</p>
		</div>
	</div>
</div>