<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4 text-center">Who I Am</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>Hi! My name is <span style="font-size: 1.23rem; font-weight: 800;">Ankit Kumar</span> and I am a <span style="font-size: 1.23rem; font-weight: 800;">Ankit Kumar</span>Peripatetic. To the outside world I am a Software Engineer but secretley with my friends and famaily I set out on the road to explore the world.</p>

			<p>I've been traveling since my childhood, but the urge to travel and explore the world began in me in my college days. I had lived in Udhampur, a really beautifull town in the state of Jammu and Kashmir, during my early teenage. It was at that time when I fell into love with those mountains and that cool breeze that would abut my ears. And in my college days when I went on a <%= link_to 'a trip to McLeodGanj', 'http://www.kumarsjournal.com/posts/mcleod-ganj-an-exposure-to-tibetian-culture-in-india' %>, I decided that I will never leave travelling.</p>

			<h3>How Is It Different??</h3>
			<p>Unlike most travellers that I found on the Internet, I am not leaving - neither planning to leave - my work. Traveling is just a source of happiness to me, a way of getting inspiration and stay motivated. I love to meet new people around the globe and learn their culture, way of living life. And I use this motivation into my work. I use this to enhance my creativity.</p>

			<h3>Why This Blog??</h3>
			<p>So I thought to revamp the stereotype that if you love travel you quit your job and try to make a living out of it. No, you still can continue living your life and find ways to fulfil your travel needs.</p>
		</div>
	</div>
</div>