<div class="d-flex toolkit-pane">
  <button class="btn btn-primary option" onClick="addHead()"><i class="fas fa-heading"></i><small>1</small></button>
  <button class="btn btn-primary option" onclick="addSubHead()"><i class="fas fa-heading"> </i><small>2</small></button>
  <button class="btn btn-primary option" onclick="addPara()"><i class="fas fa-paragraph"></i></button>
  <button class="btn btn-primary option" onclick="addQuote()"><i class="fas fa-quote-left"></i></button>
  <button class="btn btn-primary option" onclick="addImage()"><i class="fas fa-image"></i></button>
  <button class="btn btn-primary option" onclick="addCollection()"><i class="fas fa-images"></i></button>
  <button class="btn btn-primary option" onclick="addLink()"><i class="fas fa-link"></i></button>
</div>
