<div id="toolkit-button" class="round toolkit material">
  <i class="material-icons">add</i>
  <div class="round option stacked" id="add_link">
    <i class="material-icons">link</i>
  </div>
  <div class="round option stacked" id="add_photo">
    <i class="material-icons">photo_alternate</i>
  </div>
  <div class="round option stacked" id="add_carousel">
    <i class="material-icons">burst_mode</i>
  </div>
</div>
