<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9">
			<span class="mt-5 __hl __fw500 __lgray __tac __db">Last Updated: 08 January, 2018</span>

			<span class="mt-3 __nunito __gray __fw900 __tac __db">Privacy Policy</span>
			<p class="__tac __fw100 __gray2 __nunito __lh15 mx-3 my-4">This Privacy Policy governs the manner in which <a href="http://www.kumarsjournal.com">Kumar's Journal</a> collects, uses, maintains and discloses information collected from users (each, a “User”) of <a href="http://www.kumarsjournal.com">www.kumarsjournal.com</a> website (“Site”). This privacy policy applies to the Site and all products and services offered by Kumar's Journal.</p>

			<h3 class="__nunito __bb pb-3 __fw900">General Information</h3>
			<div class="row">
				<div class="col-md-8">
					<p class="__nunito __gray __fw500">We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:</p>
					<p class="__nunito __gray __fw500">It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</p>
					<p class="__nunito __gray __fw500">We transfer information about you if Kumar's Journal is acquired by or merged with another company. In this event, Kumar's Journal will notify you before information about you is transferred and becomes subject to a different privacy policy.</p>
				</div>
				<div class="col-md-4">
					<p></p>
				</div>
			</div>

			<h3 class="__nunito __bb pb-3 __fw900">Personal Identification Information</h3>
			<div class="row">
				<div class="col-md-8">
					<p class="__nunito __gray __fw500">We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
				</div>
			</div>

			<h3 class="__nunito __bb pb-3 __fw900">Non-Personal Identification Information</h3>
			<div class="row">
				<div class="col-md-8">
					<p class="__nunito __gray __fw500">We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<h3 class="__nunito __bb pb-3 __fw900">Changes to Privacy Policy</h3>
					<p class="__nunito __gray __fw500">
						Font Awesome may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your Font Awesome primary account holder account or by placing a prominent notice on our site.
					</p>
				</div>
				<div class="col-md-6">
					<h3 class="__nunito __bb pb-3 __fw900">Questions</h3>
					<p class="__nunito __gray __fw500">
						Any questions about this Privacy Policy should be addressed to <a href="mailto:ankiitkumar07@gmail.com?subject=Questions Regarding Kumar's Journal Privacy Policy" target="_blank">ankiitumar07@gmail.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>