/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";
@import "posts";
@import "navbar";
@import "footer";
@import "color";
@import "font";
@import "animate";
@import "userProfile";
@import "legal";
@import "responsive";
@import url('//fonts.googleapis.com/css?family=Poiret+One|Shrikhand|Nunito');


html{
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 83px;
  font-family: 'Poiret One', cursive;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.form-bg
{
  
  width:100%;
  height:100%;
  background-color:#004D47 ;
}

.ptitle
{
    margin:20px;
}


.form-wrapper
{
    position: relative;
    width: 350px;
    height: 380px;
    margin: auto;
    margin-bottom: 60px;
    top:2rem;bottom: 0;left: 0; right: 0;
    border: 1px solid #BF360C;
    background-color:#fff;

    -webkit-box-shadow: 14px 13px 6px -6px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 14px 13px 6px -6px rgba(0, 0, 0, 0.85);
    box-shadow: 14px 13px 6px -6px rgba(0, 0, 0, 0.85);
}


[type="email"], [type="password"], [type="submit"], [type="text"]
{
    margin: 10px 12px 10px 12px;
    width: 270px;
    border-radius: 0;
    height: 43px;
    padding:15px;
    font-size:20px;
}
@media only screen and(max-width:320px)
{
    .form-wrapper
    {
      width:90%;
    }
    [type="email"], [type="password"], [type="submit"], [type="text"]
    {
        margin: 10px 12px 10px 12px;
        width: 90%;
        border-radius: 0;
        height: 43px;
        padding:15px;
        font-size:20px;
    }

}

[type="submit"]
{
  padding:0;
}

.form-control:focus
{
    border: 1px solid #BF360C;
}
#l1, label
{
    display: block;
}
input.btn
{
    background-color: #BF360C;
    border: 1px solid #D84315;
}

input.btn:hover {
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
    transition:1s;
}
input.btn:active, .btn:focus{
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  float:right;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}


/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.btn-facebook
{
  background-color:#01579b ;
  width:260px;
  height:43px;
  border-radius:2px;
  color:#fff;
  font-size:18px;
  position:relative;
  top:40px;
  margin:24px;
}

.btn-facebook:hover
{
  background-color:#0277bd;
  color:#fff;
  transition: .6s;  
}

/*social sharing section*/
.social-box{
  position: fixed;
  width: 5rem;
  height: 18rem;
  top: 20rem;
  right: 6rem;
  transition: all 300ms;
}
.fb-like.fb_iframe_widget{
  margin: 0;
}
.sharer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto;
  & a{
      position: relative;
      font-size: 1.4rem;
      color: #a7a7a7;
      text-decoration: none;
      border: 0.1rem solid #293137;;
      padding: 0.3rem 0.67rem;
      border-radius: 100%;
      margin: 0.4rem 0;
      transform: scale(0.87);
      text-shadow: 2px 1px 0px #0b0b0b59;
      transition: all 300ms;
  }
}
.fa-facebook-f {
    padding: 0 0.5rem;
}
.fab.fa-twitter {
    padding: 0.23rem;
}
.fab.fa-whatsapp{
  padding: 0.23rem;
}
.fb.share a{
  color: #4267b2;
  &:hover{
    color:white;
    background-color: #4267b2;
  }
}
.tw.share a{
  color: #1da1f2;
  &:hover{
    color:white;
    background-color: #1b95e0;
  }
}
.gp.share a{
  color: #db4437;
  &:hover{
    color:white;
    background-color: #db4437;
  }
}
.wa.share a{
  color: #23ce42;
  &:hover{
    color: white;
    background-color: #23ce42;
  }
}

@media only screen and (max-width:768px)
{
  .social-box{
    width: 100%;
    height: auto;
    background-color: #db7037;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0.5rem 0;
  }
  .sharer {
      position: relative;
      height: 100%;
      width: 50%;
      padding: 0.2rem 0.8rem;

      & a{
        font-size: 0.8rem;
        padding: 0.4rem;
      color: white;
      }
  }
}
@media only screen and (max-width:425px)
{
  .fa-facebook-f {
      padding: 0 0.3rem;
  }
  .sharer .fab.fa-twitter {
      padding: 0 0.1rem;
  }
}

.follow{
  position:fixed;
  right:-175px;
  width:185px;
  overflow-y:auto;
  margin:20px 0;
  padding-left:10px;
  transition:all ease-in-out 300ms;
  height: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
}
.follow-fb
{
  top:4.5rem;
  border-left:10px solid #4267b2;
}
.follow-twitter
{
  top:6.47rem;
  border-left:10px solid #1b95e0;
}
.follow-gplus
{
  top:8.46rem;
  border-left:10px solid #db4437;
}
.follow-youtube
{
  top:10.46rem;
  border-left:10px solid #f00;
}
.follow:hover
{
  right:0;
}

.border-none{
  border: none;
}



// =============
.__s-row{
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #0a0a0acf;
  &.blue{
    border: 1px solid blue;
  }
  &.red{
    border: 1px solid red;
  }
  &.green{
    border: 1px solid green;
  }
}
