.col-md-6 h1, .col-md-6 h5, .col-md-6 h5 a {
	text-align: center; 
	color: #fefefe; 
	font-weight: normal; 
}
.col-md-6 h1 { 
	margin-bottom: 50px 
}
.col-md-6 h5 { 
	margin-top: 70px 
}

.col-md-4 h1, .col-md-4 h5, .col-md-4 h5 a { 
	text-align: center; 
	color: #fefefe; 
	font-weight: normal; 
}
.col-md-4 h1 { 
	margin-bottom: 50px 
}
.col-md-4 h5 { 
	margin-top: 70px 
}

/*.col-md-8 h1, .col-md-8 h5, .col-md-8 h5 a { 
	text-align: center; 
	color: #fefefe; 
	//font-weight: normal; 
}
.col-md-8 h1 { 
	margin-bottom: 50px
}
.col-md-8 h5 { 
	margin-top: 70px 
}*/
.blockquote
{
	color: #ffffff;
}
cite
{
	color: #2E2E2E;
}

.photos{
	background-color: #fafafa;
	height: 700px;
}

hr.soften {
  height: 0.1em;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}