@font-face{
	font-family: 'ARBlanca';
	src: local('AR BLANCA'), url('ARBLANCA.woff') format('woff');
}


.blockquote
{
	font-weight: 100;
	font-size: 300%;
	line-height: 1.1em;
	/*text-shadow:1px 2px #cdcdcd;*/
}

cite
{
	font-size: 15px;
	font-weight: bold;
	line-height: 6em;
	font-style: normal;
	font-family: Arial;
	text-shadow:none;
	float: right;}



.intro-box p
{
	/*display: inline-block;*/
	font-size: 140%;
	/*transform: scale(.8, 1.5);*/
	font-family: 'Poiret One', cursive;
	line-height: 1.1em;
	/*font-weight: 1000;*/
	text-align: justify;
	font-weight: 100;
	letter-spacing: 0.3em;

}

.photos h1{
	color:#2E2E2E;
	font-weight: 900;
}

.intro-head
{
	font-weight: 900;
}