@font-face{
	font-family: 'ARBlanca';
	src: local('AR BLANCA'), url('ARBLANCA.woff') format('woff');
}

p::selection, span::selection,
h1::selection, h2::selection,
h3::selection, h4::selection,
h5::selection, h6::selection,
a::selection, strong::selection, 
b::selection, i::selection, u::selection{
	color: white;
	background-color: #578e5e;
}

.blockquote
{
	font-weight: 100;
	font-size: 300%;
	line-height: 1.1em;
}

cite
{
	font-size: 15px;
	font-weight: bold;
	line-height: 6em;
	font-style: normal;
	font-family: Arial;
	text-shadow:none;
	float: right;}



.intro-box p
{
	font-size: 1.1rem;
	font-family: 'Poiret One', cursive;
	line-height: 1.6rem;
	text-align: justify;
	font-weight: 100;
	letter-spacing: 0.2rem;

}

.photos h1{
	color:#2E2E2E;
	font-weight: 900;
}

.intro-head
{
	font-weight: 900;
}


.btn-link{
	color: #eaebec;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		text-decoration: none;
		color:#f6f7f9;
	}
}
.heading>h2{
	font-size: 1.9rem;
	font-weight: 500;
	transition: all linear 300ms;
}
.masonry>div{
	&>p{
	color:white;
	z-index: 4;
	font-size: 0.90rem;
	visibility: hidden;
	transition: all linear 250ms;
	margin-bottom: 0;
	}
	&:hover>p{
		font-size: 0.87rem;
		visibility: visible;
	}
}