#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;

}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;
	

}

#myFooter .facebook:hover{
	color:#0077e2;
	
}

#myFooter .google:hover{
	color:#ef1a1a;
	
}

#myFooter .twitter:hover{
	color: #00aced;
	
}
#myFooter .instagram:hover{
	color:#E64A19; 
	
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.social-networks i, .footer-copyright i
{
	display:inline;
}
#myFooter input[type=text]
{
	width:80%;
	color:#373a48;

}

#myFooter textarea{
	width: 80%;
	color:#373a48;;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    resize: none;
}
#myFooter [type="submit"]
{
	width:80px;
}

#tag{
	cursor:pointer;
}

.myModal{
	position: fixed;
	top:10%;
	left: 10%;
	right: 10%;
	bottom: 25%;
	width: auto;
	height: auto;
	border-radius: 5px;
	background-color: #fff;
	display: none;
	opacity: 0;
	transition: all 350ms;
	z-index: 100;
	padding: 0;
	box-shadow: 4px 3px 20px 0px #000;
}
.modalHeader{
	background-color: #7d37c3;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 70px;
    box-shadow: 0px 1px 4px 0 #000;
}
.modalHeader>h3{
	margin: 0;
    position: absolute;
    top: 25%;
    left: 10%;
    color: #fff;
    font-weight: 600;
}
.modalHeader>button{
	position: absolute;
	right: 1%;
	font-size:200%;
	top: 16%;
	color:#fff;
	background-color: transparent;
	box-shadow: none;
	border: none;
	cursor: pointer;
}
.modalHeader>button:active{
	border:1px solid #ccc;
}
.modalBody{
	color: black;
	padding: 10px 15px;
	height:80%;
	overflow-y:scroll;
}
.modalBody>ul{
	list-style-type:none;
}
.modalBody>ul>li
{
	display:inline;
	margin:1px 50px;
}