// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
		.grid{
			width: 100%;
			columns: 3;
			column-gap: 2px;
		}

		.grid .grid-item{
			width: 100%;
			margin: 0 0 2px 0;
			position: relative;
			& h3{
				position: absolute;
				bottom: 0;
				font-size: 20px;
				color: white;
				background-color: #3a3a3a4d;
				margin: 0;
				padding: 1px 6px;
			      }
		}

		.grid .grid-item img{
			max-width: 100%;
		}
