// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .header
{
	height: 560px;
	background: url(https://dl.dropboxusercontent.com/s/ieyyzqotdrw0p77/DSC07627.JPG?dl=0);
	margin-top:10px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1
{
	font-size:80px;
	font-weight:800;
	color:#fff;
	text-shadow:2px;
}
.back{
	position:relative;
	height:350px;
	width:100%;
	background-image:url(https://dl.dropboxusercontent.com/s/6ynqz8f32panht6/bg-img.jpg?dl=0);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.blurred
{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(https://dl.dropboxusercontent.com/s/6ynqz8f32panht6/bg-img.jpg?dl=0);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: relative;
    overflow: hidden;
}


.quote
{
	position:absolute;
	top:0;
	height: 350px;
	width:100%;
	border-top: 1px solid rgba(50, 50, 50, 0.75);
	z-index:99;
}

.blockquote {
    display: block;
    border-left: 0px;
	margin-top: 10%;
	text-align: center;
}
i.fa-quote-left
{
	position: relative;
    top: -26px;
    left: 0;
}

.blog{
	position: relative;
	width: 100%;
	height: min-content;
	//background-color:#ccc;
	padding: 30px 0;
}

.post{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 420px;
	grid-gap: 60px;
	//background-color: #e7e5e5;
	padding: 50px 76px;
}
.post-box{
	grid-column: span 1;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	transition: all 300ms;
	color: white;

	&:hover{
		box-shadow:1px 4px 20px 7px #808080;
	}
	&:hover .heading>h2{
		font-size: 1.6rem;
	}

	&>a{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		z-index: 2;
	}
}

.photo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 65%;
	background-size: 500px 300px;
	background-color: #888;
	transition: all 200ms;
}
.post-box:hover .photo{
	background-size: 530px 330px;
	background-blend-mode: multiply;
}

.category{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 5px;
	background-color: orange;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	z-index: 1;
}
.category>p,.date-and-user>div>p
{
	margin: 0;
}
.heading-and-excerpt
{
	position: absolute;
	bottom: 8%;
	background-color: #b72725;
	height: 113px;
	padding: 10px 13px;
	width: 100%;
}

.excerpt>p
{
	margin-top: 20px;
	opacity: 0;
}
.heading>h2{
	margin: 0;
	font-weight: 700;
}
.date-and-user
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 4px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 1px solid #e5e5e7;
	background-color: #d0312f;
}
.date-and-user>div
{
	grid-column: span 1;
	text-align: center;
	padding: 3px 0;
}

.intro-box
{
	color:#fff;
	display: block;
	height: 600px;
	background: rgba(255,118,77,1);
	padding: 70px 10px 0px 10px;
	position:relative;
	z-index:99;
}
.intro-box img{
	margin-top: 130px;
	border-radius: 100%;
	transition:all ease-in-out 300ms;
}

.intro-box a.btn
{
	margin:0;
	font-size:100%;
	color:#fff;
}



