// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{
	position:relative;
	height:350px;
	width:100%;
	background-image:url(https://dl.dropboxusercontent.com/s/6ynqz8f32panht6/bg-img.jpg?dl=0);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	& .quote{
		position: absolute;
			top:0;
			height: 350px;
			width:100%;
			border-top: 1px solid rgba(50, 50, 50, 0.75);
			z-index:99;
	}
}
.blurred
{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(https://dl.dropboxusercontent.com/s/6ynqz8f32panht6/bg-img.jpg?dl=0);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: relative;
    overflow: hidden;
}

.blockquote {
    display: block;
    border-left: 0px;
	margin-top: 10%;
	text-align: center;
}
i.fa-quote-left
{
	position: relative;
    top: -26px;
    left: 0;
}


.photo{
	position: relative;
	height: 25rem;
	background-size: cover;
	transition: all 200ms;
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		content: '';
		display: block;
		opacity: 0.1;
		transition:all 300ms;
		z-index: 0;
	}

	&:hover::after{
		opacity: 0.7;
	}
	&:hover .category{
		opacity: 1;
	}	
	&:hover .excerpt{
		bottom: 1.1rem;
		opacity: 1;
	}
	& a{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 3;
	}
}

.category{
	position: absolute;
	padding: 0.8rem 1rem;
	background-color: #e9b11e;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	z-index: 1;
	opacity: 0;
	&>p{
		margin: 0;
	}
}
.excerpt {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    color: white;
    font-weight: 500;
    opacity: 0;
    transition: all 300ms;
    z-index: 1;
}
.heading>h2{
	margin: 0;
}
.date-and-user
{
	position: relative;
	width: 100%;
	padding: 4px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid #e5e5e7;
	font-weight: 600;
	&>p{
		margin:0;
	}
}
.date-and-user>div
{
	grid-column: span 1;
	text-align: center;
	padding: 3px 0;
}


#instafeed img{
	margin: 1rem;
	position: relative;
	width: 11rem;
	&::after{
		content: '';
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transition:all 300ms;
		background-color: #000;
		display: block;
	}
	&:hover::after{
		opacity: 0.7;
	}
}
.post-section {
    border-right: 1px solid #ccc;
}
.fb_iframe_widget {
    margin-left: 0.8rem;
}
h4.display-5.py-4.text-center {
    background-color: #ccc;
    border-radius: 5px;
    & .fa-facebook{
    	color:#4867aa;
    }

    & .fa-twitter{
    	color: #1da1f2;
    }
    & .fa-instagram{
    	color: #d03f6b;
    }
}

.intro-box
{
	color:#fff;
	display: block;
	height: 600px;
	background: rgba(255,118,77,1);
	padding: 70px 10px 0px 10px;
	position:relative;
	z-index:99;
}
.intro-box img{
	margin-top: 130px;
	border-radius: 100%;
	transition:all ease-in-out 300ms;
}

.intro-box a.btn
{
	margin:0;
	font-size:100%;
	color:#fff;
}


