// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-index
{
  width: 60%;
  margin: auto;
}

.posts-index p
{
  padding: 0px;
  margin: 0px;
  text-align: justify;
  text-justify : inter-word;
}

.content
{
  height: 130px;
}

/*styles for whole post container*/

.cover-container
{
	width: 90%;
	height: 500px;
	display: block;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	margin:50px 2px 8px 2px;
}

.title-container{
	margin: 8px 0px 20px 3px;
  width:90%;
}
.content-container
{
	margin: 20px 0px 40px 0px;
}

a.h1
{
  font-size:250%;
}
a.h1:hover
{
  font-size:34px;
  text-decoration:none;
  color:#00897B;
  transition:0.3s;
}

.photo-container
{
	
	display: block;
	padding:10px 50px;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.figure-caption {
  font-size: 90%;
  color: #868e96;
}

.rounded {
  border-radius: 0.25rem !important;
}

.display-1 {
  font-size: 420%;
  font-weight: 100;
  line-height: 1.1;

}

.post-container
{
  margin: 20px 0px 20px 0px;
  padding: 50px 10px 50px 10px;
}

.post-container p
{
  font-size:120%;
  text-align:justify;
  color:#222;
}

.post-cover
{
  width: 100%;
  position: relative;
  margin:auto;
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

a.btn
{
  border-radius:0px;
  margin:10px;
  font-size:18px;
}

#post_body
{
  resize:none;
  margin:10px 0px 10px 11px;
  height:500px;
  width:85%;
  padding:15px;
  font-size:20px;
}
div.post-header a
{
  color:#222;
  text-decoration:none;
  transition:all ease-in-out 300ms;
}
div.post-header a:hover
{
  color:#455d7b;
  text-decoration:none;
  transform:scale(1.05);
}

.post-sub-head{
    margin-top: 3rem;
    font-weight: 900;
    padding: 1rem;
    border-left: 7px solid gainsboro;
    font-size: 200%;
}


.partial-banner
{
  position:relative;
  margin:40px 0;
  padding:30px 0;
  display:grid;
  grid-template-columns:repeat(4,2fr);
  grid-gap:30px;
  grid-auto-rows:minmax(150px,auto);
}
.partial-banner div
{
  background-position: center;
  background-size: cover;
  position: relative;
}
.partial-banner h4{
  position: absolute;
  bottom: 0;
  margin-left:20px;
  color:white;
}
.partial-banner a{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

div.fb-comments{
  padding:20px 25% 0 0;
  margin: 20px 0 100px 0; 
}

.yt-video{
  height: 415px;
  width: 80%;
  margin-left: 3%;
}
.yt-iframe{
  width: 100%;
  height: 100%;
}
//************Styles for 3D-Carousel******************
.scene {
  width: 70%;
  height: 27rem;
  position: relative;
  margin: auto;
  perspective: 1000px;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all linear 1000ms;
}

.slide {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  //border: 1px solid black;
  box-shadow: 3px 3px 10px black;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5rem;
  height: 3rem;
  top: auto;
  display: flex;
  justify-content: center;
  & button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 2px 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid black;
  }
}
//**************Styles for toolkit in Post update and create page**************
textarea {
  width: 100%;
  height: 20rem;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
}

$t-width: "2.8rem";
$t-height: "2.8rem";

.toolkit {
  position: absolute;
  width: #{$t-width};
  height: #{$t-height};
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transform-origin: 50% 50%;
  &.material {
    background-color: #57946d;
    background-origin: shadow;
    box-shadow: 2px 2px 6px black;
  }
  & > i {
    position: relative;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px black;
    transition: all ease-out 200ms;
  }
  & > .option {
    background-color: red;
    transition: all ease-out 200ms;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    box-shadow: inherit;
    z-index: -1;
    left: 2px;
    & > i {
      position: relative;
      top: 25%;
      left: 25%;
      color: white;
      font-size: 1.2rem;
    }
  }
}
$options: (
  2 -12rem,
  3 -8rem,
  4 -4rem
);

@each $val in $options {
  .option:nth-child(#{nth($val, 1)}) {
    top: #{nth($val, 2)};
  }
}
.rotated {
  transform: rotateZ(405deg);
}
.stacked {
  top: 2px !important;
  box-shadow: none !important;
}
.round {
  border-radius: 100%;
}

