@media only screen and (min-width:768px)
{
	.mobile-banner-ad
	{
		display:none;
	}
	.leaderboard-ad
	{
		display:inline-block;
	}
}

@media only screen and (max-width:768px)
{
	.myHeader{
		height:550px;
	}
	.scroller{
		top:13%;
	}
	.brand-container h1
	{
		font-weight: 900;
		font-size: 250%;
	}
	.blockquote
	{
		padding-top: 0px;
		margin-top:15%;
	}
	#myFooter {
		text-align: center;
	}
	.cover-container{
		margin:20px auto;
	}
	.mobile-banner-ad
	{
		display:inline-block;
	}
	.leaderboard-ad
	{
		display:none;
	}
	.post{
		grid-template-columns: repeat(2,1fr); 
	}
	#block-1,#block-7,#block-8{
		background-size:cover;
	}
	.container
	{
		width:100%;
	}
	.partial-banner div
	{
		grid-column:span 2;
	}
}


@media only screen and (max-width:425px)
{
	.site-brand{
		width:100%;
	}
	.scroller{
		top:12%;
	}
	.brand-container p
	{
		font-size: 1em;
	}

	.blockquote
	{
		font-size:300%;
		margin-top:20%;
	}
	#q1_right,#q2_left {
		display:none;
	}

	.post-cont
	{
		grid-auto-rows:minmax(100px,auto);
	}
	.post-cont h4{
		font-size:90%;
		margin-left:8px;
	}
	.post-cont h1{
		font-size:200%;
		margin-left:8px;
	}
	.intro-box{
		padding:0;
		height:700px;
	}
	.intro-box img{
		width:50%;
		margin:20px 20%;
	}
	.intro-box p{
		font-size:100%;
	}
	#myFooter [type="submit"]
	{
		width:80%;
	}
	.cover-container{
		margin:20px auto;
		height:270px;
	}
	.display-1 {
	  font-size: 260%;
	  text-align:center;
	}
	.post-container p{
		font-size:100%;
	}
	.photo-container
	{
		margin:0;
		padding:0;
	}
	.container
	{
		width:100%;
	}
	div.fb-comments{
		padding:0;
	}
	.partial-banner div
	{
		grid-column:span 4;
	}
	a.h1
	{
		font-size:150%;
	}
	a.h1:hover{
		font-size:151%;
	}
	.post-cover
	{
		height:200px;
	}
	.masonry{
		grid-auto-rows:minmax(120px, auto);
	}
	.photos{
		height:500px;
	}
	.post{
		grid-template-columns: 1fr; 
	}
	.date-and-user{
		z-index:20;
		background-color:#fff;
	}
}

@media only screen and (max-width:320px)
{
	.blockquote
	{
		font-size:260%;
	}
	#q1_right {
		display:none;
	}
	.intro-box img{
		width:80%;
		margin:20px 10%;
		
	}
	.brand-container h1
	{
		font-weight: 100;
		font-size: 200%;
	}
	.heading>h2{
		font-size:110%;
	}
	.post{
		grid-auto-rows:320px;
	}
	.photo{
		background-size: 150% 100%;
    	background-position-x: 40%;
	}

}

